{% extends 'entities/dashboard/base_dashboard.html' %}
{% load static %}

{% block head %}
    <title>Account detail | Taqadam</title>
    <style>
        .input-field label {
            color:#212121 !important;
        }

        .input-field input[type=text]:focus + label {
            color: #212121 !important;
        }

        .input-field input[type=text]:focus {
            border-bottom: 1px solid #673ab7 !important;
            box-shadow: 0 1px 0 0 #673ab7 !important;
        }

        .input-field input[type=text].valid {
            border-bottom: 1px solid #673ab7 !important;
            box-shadow: 0 1px 0 0 #673ab7 !important;
        }
        .flex-row {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        .ml-4 {
            margin-left: 4rem;
        }
        .flex-column {
            display: flex;
            flex-direction: column;
            align-items: center; 
        }
        .secondary-content {
            color: #9575cd;
        }
    </style>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}
{% block breadcrumb %}
<h4 class="page-title pull-left">Account Details</h4>
{% endblock %}
{% block body %}

<div class="container">
    <form class="form" enctype="multipart/form-data" method="post" action="{% url 'app_account_detail' %}">
        {% csrf_token %}
        <div class="flex-column">
            <div class="flex-row">
                <div>
                    <div class="input-field">
                        <input type="text" name="first_name" value="{{ user.first_name }}">
                        <label>First Name</label>
                    </div>
                    <div class="input-field">
                        <input  type="text" name="last_name" value="{{ user.last_name }}">
                        <label>Last Name</label>
                    </div>
                    <div class="input-field">
                        <input type="text" name="email" value="{{ user.email }}">
                        <label>Email</label>
                    </div>
                    <div class="input-field">
                        {% if profile.phone %}
                            <input type="text" name="phone" value="{{ profile.phone }}">
                        {% else %}
                            <input type="text" name="phone">
                        {% endif %}
                        <label>Phone</label>
                    </div>
                </div>

                <div class="ml-4">
                    <div class="input-field">
                        {% if profile.company_name %}
                            <input type="text" name="company_name" name="company_name" value="{{ profile.company_name }}">    
                        {% else %}
                            <input type="text" name="company_name" name="company_name">    
                        {% endif %}
                        <label>Company Name</label>
                    </div>
                    <div class="input-field">
                        {% if profile.company_website %}
                            <input type="text" name="company_website" value="{{ profile.company_website }}">
                        {% else %}
                            <input type="text" name="company_website">
                        {% endif %}
                        <label>Company Website</label>
                    </div>
                    <div class="input-field">
                        {% if profile.company_address %}
                            <input type="text" name="company_address" value="{{ profile.company_address }}">
                        {% else %}
                            <input type="text" name="company_address">
                        {% endif %}
                        <label>Company Address</label>
                    </div>
                </div>
            </div>  
            <button class="deep-purple waves-effect waves-light btn-flat" style="color: #ede7f6;max-width:200px;" type="submit">
                Update Information
            </button>
        </div>
    </form>




    <div class="uploaded-files">
        <ul class="collection with-header">
            <li class="collection-header"><h4>Project List</h4></li>
            <li class="collection-item">
                <div>
                    Alvin
                    <a href="#!" class="secondary-content" style="margin-left: 5px;">
                        <i class="material-icons">send</i>
                    </a>
                    <a href="#!" class="secondary-content" >
                        <i class="material-icons">delete</i>
                    </a>
                </div>
            </li>
            <li class="collection-item">
                <div>
                    Alvin
                    <a href="#!" class="secondary-content" style="margin-left: 5px;">
                        <i class="material-icons">send</i>
                    </a>
                    <a href="#!" class="secondary-content" >
                        <i class="material-icons">delete</i>
                    </a>
                </div>
            </li>
            <li class="collection-item">
                <div>
                    Alvin
                    <a href="#!" class="secondary-content" style="margin-left: 5px;">
                        <i class="material-icons">send</i>
                    </a>
                    <a href="#!" class="secondary-content" >
                        <i class="material-icons">delete</i>
                    </a>
                </div>
            </li>
            <li class="collection-item">
                <div>
                    Alvin
                    <a href="#!" class="secondary-content" style="margin-left: 5px;">
                        <i class="material-icons">send</i>
                    </a>
                    <a href="#!" class="secondary-content" >
                        <i class="material-icons">delete</i>
                    </a>
                </div>
            </li>
            <li class="collection-item">
                <div>
                    Alvin
                    <a href="#!" class="secondary-content" style="margin-left: 5px;">
                        <i class="material-icons">send</i>
                    </a>
                    <a href="#!" class="secondary-content" >
                        <i class="material-icons">delete</i>
                    </a>
                </div>
            </li>
            <li class="collection-item">
                <div>
                    Alvin
                    <a href="#!" class="secondary-content" style="margin-left: 5px;">
                        <i class="material-icons">send</i>
                    </a>
                    <a href="#!" class="secondary-content" >
                        <i class="material-icons">delete</i>
                    </a>
                </div>
            </li>
            <li class="collection-item">
                <div>
                    Alvin
                    <a href="#!" class="secondary-content" style="margin-left: 5px;">
                        <i class="material-icons">send</i>
                    </a>
                    <a href="#!" class="secondary-content" >
                        <i class="material-icons">delete</i>
                    </a>
                </div>
            </li>
            <li class="collection-item">
                <div>
                    Alvin
                    <a href="#!" class="secondary-content" style="margin-left: 5px;">
                        <i class="material-icons">send</i>
                    </a>
                    <a href="#!" class="secondary-content" >
                        <i class="material-icons">delete</i>
                    </a>
                </div>
            </li>
        </ul>

        <ul class="collection with-header">
            <li class="collection-header"><h4>Project List</h4></li>
            {% for project_and_file in project_file_list %}
            <li class="collection-item">
                <div>
                    {{ project_and_file.project.name }}                   
                    {% if project_and_file.additional_files %}
                        {% for additional_file in project_and_file.additional_files %}
                        <a href="{{ additional_file.file.url }}" target="_blank" class="secondary-content"></a>
                            <i class="material-icons">send</i>
                        </a>
                        <a href="{% url 'app_delete_file' file_id=additional_file.id %}" title="Delete this file" class="secondary-content delete">
                            <i class="material-icons">delete</i>
                        </a> 
                </div>
            </li>
                        {% endfor %}
                    {% else %}
                        No files
                    {% endif %}
            {% endfor %}
        </ul>

    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'app/assets/js/account_detail.js' %}"></script>
{% endblock %}