{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }

        .logo {
            position: relative;
            width: 15%;
            height: auto;
            top: 10px;
            left: 20px;
        }
        .dropdown-content{
            width: max-content !important;
            height:auto !important;
            position: absolute !important;
            top: 60px !important;
        }
        nav {
            
            background-color: #ede7f6 !important;
        }
        nav a {
            color: #212121 !important;
        }
    </style>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    {% block head %}

    <title>Dashboard</title>

    {% endblock %}
</head>

<body>
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->

    <div>
        <!-- Dropdown Structure -->
        <ul id="dropdown" class="dropdown-content">
            <li><a href="{% url 'app_account_detail' %}">Account Details</a></li>
            <li><a href="{% url 'pass_change_form' %}">Change Password</a></li>
            <li class="divider"></li>
            <li><a href="#">Logout</a></li>
        </ul>
        <nav class="nav-extended">
            <div class="nav-wrapper">
                    <a href="/">
                        <img class="full-menu logo" src="{% static 'logo-2.png' %}" alt="logo">
                    </a>
                <ul class="right hide-on-med-and-down">
                    <!-- Dropdown Trigger -->
                    <li>
                        <a class="dropdown-trigger" href="#" data-target="dropdown">
                            <i class="material-icons left">account_circle</i>
                            {{ user }}
                            <i class="material-icons right">arrow_drop_down</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <div class="nav-wrapper">
                  <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="{% url 'app_dashboard' %}">Projects</a></li>
                    <li><a href="{% url 'app_newproject' %}">Create New Project</a></li>
                    <li><a href="{% url 'team' %}">Teams</a></li>
                    <li><a href="#">Support</a></li>
                  </ul>
                </div>
              </div>
        </nav>
    </div>
    
    <div class="page-title-area">
        <div class="row align-items-center">
            <div class="col-sm-12">
                <div class="breadcrumbs-area clearfix">
                    {% block breadcrumb %} {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <!-- page title area end -->
    <div class="main-content-inner">
        {% block body %} {% endblock %}
    </div>


    {% block scripts %} {% endblock %}

</body>
<script>
    var el = document.querySelector('.tabs');
    var instance = M.Tabs.init(el, {});

    var dropdowns = document.querySelectorAll('.dropdown-trigger')
        for (var i = 0; i < dropdowns.length; i++){
            M.Dropdown.init(dropdowns[i]);
    }
</script>

</html>
