{% extends 'base_dashboard.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
    <title>Project Detail | Taqadam</title>
    <link rel="stylesheet" href="{% static 'app/responsive-table.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery.js@1.1.3/dist/css/lightgallery.min.css">
    <script src="https://unpkg.com/popper.js@1"></script>
    <script src="https://unpkg.com/tippy.js@4"></script>
    <script src="https://unpkg.com/konva@4.0.0/konva.min.js"></script>
    <link rel="stylesheet" href="{% static 'app/assets/css/dashboard_by_project.css' %}">
{% endblock %}
{% block breadcrumb %}
    <h4 class="page-title pull-left">{{ project.name }}</h4>
    <ul class="breadcrumbs pull-left">
        <li><a href="{% url 'app_dashboard' %}">Projects Summary</a></li>
    </ul>
{% endblock %}
{% block body %}
    <div style="display: none;" id="preloader">
        <div class="preloader-wrapper">
            <div class="loader"></div>
            <span>Loading...</span>
        </div>
    </div>
    <main class="project-view" id="main_project" data-attributes="{{ project_attributes }}"
          data-tasks="{{ project_tasks }}" data-colors="{{ view_colors }}" 
          data-projectid={{ project.id }} data-projectname="{{ project.name }}" 
          data-isadmin="{{ is_admin }}" data-viaattributes="{{ via_attributes }}" data-userid={{ user.id }}>
        <div class="project project-summary" style="overflow-x: auto;">
            <table class="table">
                <tr scope="row">
                    <th>Project Name</th>
                    <th>Task Type</th>
                    <th>Total Images</th>
                    <th>Annotated Objects</th>
                    <th>Validated Objects</th>
                    <th>Annotated Images</th>
                    <th>Validated Images</th>
                    <th>Completion Percentage</th>
                    <th>Billing</th>
                    <th >Pay</th>
                    <th>Export</th>
                </tr>
                {% include 'dashboard/project_summary.html' %}
            </table>
        </div>

        <div class="project project-info">
            <div class="project-content">
                <div class="field field-project-attributes">
                    <span class="field-label sub-title section-header">Annotation Attributes</span>
                    <span class="field-value">
                        <!-- Manipulated by JS -->

                    </span>
                </div>
            </div>
        </div>

        {% block upload_section %}
        <div class="project project-info">
            <div class="project-content">
                <div class="field">
                    <span class="field-label sub-title section-header">Upload Pre-trained Model JSON</span>
                    <span class="field-value">
                        <form method="POST" action="{% url 'upload_json_for_project' project_id=project.id %}" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-8">
                                    <input type="number" name="project_id" value="{{ project.id }}" hidden>
                                    <input type="file" name="json_file"accept="application/json">
                                </div>
                                <div class="col-4">
                                    <input type="submit" class="btn btn-secondary" value="Upload">
                                </div>
                            </div>
                        </form>
                    </span>
                </div>
            </div>

            <div class="project-content">
                <div class="field">
                    <span class="field-label sub-title section-header">Upload Raw Images</span>
                    <span class="field-value">
                        <form method="POST" action="{% url 'upload_raw_images_for_project' project_id=project.id %}" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-8">
                                    <input type="number" name="project_id" value="{{ project.id }}" hidden>
                                    <input type="file" accept="image/png,image/jpeg" name="raw_images" multiple>
                                </div>
                                <div class="col-4">
                                    <input type="submit" class="btn btn-secondary" value="Upload">
                                </div>
                            </div>
                        </form>
                    </span>
                </div>
            </div>

            <div class="add-more-images">
                <form class="form" id="submit_form" enctype="multipart/form-data" method="post" action="{% url 'app_upload_images_complete_for_existing_project' %}">
                    {% csrf_token %}
                    <input name="upload_id" hidden>
                    <input name="md5" hidden>
                    <input name="project_id" hidden value="{{ project.id }}">
                    <label class="sub-title section-header">Upload Images As ZIP, 7Z, Or RAR File or Connect to Google Drive or Dropbox 
                        (<span class="font-italic">contains only images file, no subfolders</span>):</label>
                    <div class="image-upload">
                        <label for="local-input">
                            <img width="50" height="50" title="Upload zip file from your computer" src="{% static 'app/images/zip_icon.png' %}" />
                        </label>
                        <input type="file" class="form-control form-control-file" name="filefield" id="local-input"
                            accept="zip,.rar,application/octet-stream,application/zip,application/x-zip,application/x-zip-compressed">
                        <label class="file-name-local-input" for="local-input"></label>
                    
                        <label for="driver-input">
                            <img width="50" height="50" title="Upload zip file from google driver" src="{% static 'app/images/driver_icon.png' %}" />
                        </label>
                        <input type="text" id="driver-input" name="driver_file_id">
                        <input type="text" id="driver-token" name="driver_token">
                        <label class="file-name-driver" for="driver-input"></label>

                        <label for="dropbox-input">
                            <img width="50" height="50" title="Upload zip file from dropbox" src="{% static 'app/images/dropbox_icon.png' %}" />
                        </label>
                        <input type="text" id="dropbox-input" name="dropbox_url">
                        <label class="file-name-dropbox" for="dropbox-input"></label>
                    </div>
                    <div id="progress" style="display: none;">
                        <span id="progress-text"></span>
                        <progress id="progress-bar" value="0" max="100">
                        </progress>
                    </div>
                    <div class="errors id_filefield"></div>
                </form>
                <button class="btn btn-secondary" onclick="uploadImage()">Upload</button>
            </div>
        </div>
        {% endblock %}

        {% block main %}
        <div class="project project-images">
            <div class="row">
                <div class="col-md-2">
                    <i class="fa fa-arrow-left previous-page" aria-hidden="true"></i>
                    <i class="fa fa-arrow-right next-page" aria-hidden="true"></i>
                </div>
                <div class="col-md-10">{% include 'dashboard/sort_bar.html' %}</div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="page-info"></div>     
                </div>
                <div class="col offset-6">
                    <span>Page Size:</span>
                    <select class="form-control" style="display: inline-block; width: 40%;" id="page-size-selector">
                        <option value="40" selected>40</option>
                        <option value="60">60</option>
                        <option value="90">90</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="content default" id="lightgallery">
                </div>
            </div>
            </div>
        </div>
        {% endblock %}
    </main>

    <main class="task-view">
        <div class="project project-summary" style="overflow-x: auto;">
            {% block head_summary %}
                <table class="table">
                    <tr scope="row">
                        <th>Project Name</th>
                        <th>Image ID</th>
                        <th>Image url</th>
                        <th>Annotated Objects</th>
                        <th>Validated Objects</th>
                        <th>Status</th>
                        <th>Export</th>
                    </tr>
                    <tr class="row-content">
                    </tr>
                </table>
            {% endblock %}
        </div>

        <div class="project project-info">
            <div class="project-content">
                <div class="field field-project-attributes">
                    <span class="field-label sub-title section-header">Annotation Attributes</span>
                    <span class="field-value">
                        <!-- Manipulated by JS -->
                    </span>
                </div>
            </div>
        </div>
       
        <div class="project project-images task-content">
            <i class="fa fa-arrow-left previous-image-nav" aria-hidden="true"></i>
            <i class="fa fa-arrow-right next-image-nav" aria-hidden="true"></i>
            <span class="qa-btn"></span>
            <span class="file-attributes"></span>
            {% if is_map_project %}
                <a id="annotation-map-link-for-geo-image" target="_blank" href="">Open map annotation app</a>
            {% else %}
                <a id="via-link-for-admin" target="_blank" href="">Open in via app</a>
            {% endif %}
            
            {% if is_admin %}
                <a class="ml-3 text-success font-weight-bold" id="authors-task">Authors: Empty!</a>
            {% endif %}
            <div>
                <span class="image-info"></span>
                <input type="range" class="custom-range" style="width: 50%;" id="opacity-slider">
                <i class="fa fa-undo back-to-project" aria-hidden="true"></i>
            </div>
            <div class="content" style="width: 100%; height: 600px;" id="task-canvas"></div>
            <div id="messages" style="max-height: 500px; overflow-y: scroll;"></div>
            <div class="row new-message"></div>
            <br>
            <br>
        </div>
    </main>
    <p id="region-label">Region Label</p>

{% endblock %}
{% block scripts %}
    <script src="{% static 'app/bootstrap-select.js' %}"></script>
    <script src="{% static 'dashboard.bundle.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/3.2.0/fabric.min.js"></script>
    
    <script type="text/javascript" src="{% static 'app/assets/js/picker/google_picker.js' %}"></script>
    <script type="text/javascript" src="https://apis.google.com/js/api.js"></script>
    <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs"
        data-app-key="um210a8kw2u6pk5"></script>
    <script type="text/javascript" src="{% static 'app/assets/js/picker/dropbox_picker.js' %}"></script>

    <script src="{% static 'app/assets/js/upload/jquery.js' %}"></script>
    <script src="{% static 'app/assets/js/upload/jquery.ui.widget.js' %}"></script>
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="{% static 'app/assets/js/upload/jquery.iframe-transport.js' %}"></script>
    <!-- The basic File Upload plugin -->
    <script src="{% static 'app/assets/js/upload/jquery.fileupload.js' %}"></script>
    <!-- Calculate md5 -->
    <script src="{% static 'app/assets/js/upload/spark-md5.js' %}"></script>
    <script src="{% static 'app/assets/js/upload/main.js' %}"></script>

    <script>
        function uploadImage() {
            $('body').append(`
            <div id="preloader">
                <div class="preloader-wrapper">
                    <div class="loader"></div>
                    <span>Uploading...</span>
                </div>
            </div>`);
            form = document.forms["submit_form"];
            if (uploadId) {
                let currentHref = window.location.href;
                form.upload_id.value = uploadId;
                form.md5.value = md5;
                fetch(
                    form.action,
                    {
                        method: 'post',
                        body: new FormData(form),
                    }
                )
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    window.location.href = currentHref;
                });
            } else {
                form.action = '/dashboard/upload-images-for-existing-project';
                form.submit();
            }
        }
    </script>
{% endblock %}