{% extends 'base_dashboard.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
    <title>Task Detail | Taqadam</title>
    <link rel="stylesheet" href="{% static 'app/responsive-table.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery.js@1.1.3/dist/css/lightgallery.min.css">
    <script src="https://unpkg.com/popper.js@1"></script>
    <script src="https://unpkg.com/tippy.js@4"></script>
    <script src="https://unpkg.com/konva@4.0.0/konva.min.js"></script>
    <link rel="stylesheet" href="{% static 'app/assets/css/dashboard_by_project.css' %}">
{% endblock %}
{% block breadcrumb %}
    <h4 class="page-title pull-left">{{ project.name }} | {{ task.image_name }}</h4>
{% endblock %}
{% block body %}
    <main class="project-view" id="main_project" data-task="{{ task }}" data-attributes="{{ project_attributes }}"
            data-colors="{{ view_colors }}">

        <div class="project project-summary" style="overflow-x: auto;">
            <table class="table">
                <tr scope="row">
                    <th>Project Name</th>
                    <th>Image ID</th>
                    <th>Image Url</th>
                    <th>Annotated Objects</th>
                    <th>Validated Objects</th>
                    <th>Status</th>
                    <th>Export</th>
                </tr>
                <tr class="row-content">
                    <td>{{ project.name }}</td>
                    <td>{{ task.id }}</td>
                    <td>
                        <a target="_blank" href="{{ task.real_url }}">
                            {{ task.real_url|truncatechars:20 }}
                        </a>
                    </td>
                    <td>{{ task.total_annotated_object }}</td>
                    <td>{{ task.total_validated_object }}</td>
                    <td>{{ task.status }}</td>
                    <td class="export">
                        <div class="btn-group">
                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Export
                            </button>
                            <div class="dropdown-menu">
                                <a class="btn" target="_blank" href="/via/{{ project.id }}/export/{{ task.id }}?type=json">JSON Format</a>
                                <a class="btn" target="_blank" href="/via/{{ project.id }}/export/{{ task.id }}?type=coco">COCO Format</a>
                                <a class="btn" target="_blank" href="/dashboard/annotated/{{ task.id }}">Annotated Image</a>
                                <a class="btn" target="_blank" href="/dashboard/masked/{{ task.id }}">Masked Image</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="project project-info">
            <div class="project-content">
                <div class="field field-project-attributes">
                    <span class="field-label">Annotation Attributes</span>
                    <span class="field-value">
                        <!-- Manipulated by JS -->
                    </span>
                </div>
            </div>
        </div>
       
        <div class="project project-images">
            <div class="file-attributes" style="height: 50px;"></div>
            <div class="content" style="width: 100%; height: 600px;" id="task-canvas"></div>
        </div>
    </main>
{% endblock %}
{% block scripts %}
    <script src="{% static 'task.bundle.js' %}"></script>
{% endblock %}
