{% extends 'entities/dashboard/base_dashboard.html' %}
{% load static %}
{% block head %}
    <title>Dashboard | Taqadam</title>
{% endblock %}

{% block breadcrumb %}
<nav>
    <div class="nav-wrapper">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="#">Demo</a></li>
            <li><a href="#">Active</a></li>
            <li><a href="#">Sample</a></li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block body %}
<div class="notification"></div>
<div style="overflow-x: auto;">
    <table class="table project-sumary" data-isadmin="{{ is_admin }}" data-projectname="{{ project_name }}">
    </table>
</div>

<div class="pagination p1">
    <ul>
    </ul>
</div>  
{% endblock %}

{% block scripts %}
    <script>
        var isAdmin = $('.project-sumary').data('isadmin') == 'True';
        var projectName = $('.project-sumary').data('projectname');
        if (projectName) {
            $('.notification').text(`Project ${projectName} is created.`);
            $('.notification').show();
            $('.notification').fadeOut(5000);

            let tab = $('.project_type_dropdown a'); 
            tab.css('color', 'black');
            tab.css('border', 'none');

            let sampleTab = $(".project_type_dropdown a[data-projecttype='2']"); 
            sampleTab.css('color', 'blue');
            sampleTab.css('border', 'solid black 1px');
        }
    </script>
    <script src="{% static 'project_sumary.bundle.js' %}"></script>
{% endblock %}