{% extends 'entities/dashboard/base_dashboard.html' %}
{% load static %}

{% block head %}
    <title>Create New Team | Taqadam</title>
    <style>

        .input-field label {
            color:#212121 !important;
        }

        .input-field input[type=text]:focus + label {
            color: #212121 !important;
        }

        .input-field input[type=text]:focus {
            border-bottom: 1px solid #673ab7 !important;
            box-shadow: 0 1px 0 0 #673ab7 !important;
        }

        .input-field input[type=text].valid {
            border-bottom: 1px solid #673ab7 !important;
            box-shadow: 0 1px 0 0 #673ab7 !important;
        }
        .input-field .prefix.active {
            color: #673ab7 !important;
        }
        select {
            background-color: #ede7f6 !important;
            
        }
        .flex-column {
            display: flex;
            flex-direction: column;
            align-content: center;
        }
    </style>
{% endblock %}

{% block breadcrumb %}
    <h4 class="page-title pull-left">Create New Team</h4>
{% endblock %}

{% block body %}
<div class="container">
    <div class="flex-column">
        <form class="form" id="team_form" enctype="application/json" method="POST" action="{% url 'team' %}">
            <div class="">
                <div class="input-field">
                    <div class="input-field">
                        <input id="id-name" class="form-control" type="text" name="name" required autofocus>
                        <label for="id-name">Team name</label>
                    </div>                
                </div>
            </div>

            <div class="row section">
                <div class="input-field col s12">
                    <div for="id_projects" style="display: block;">Projects</div>
                    <select class="browser-default" name="projects" id="id_projects" style="height: 150px; width: 100%;" multiple>
                        <option value="" disabled selected>Choose Project</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                        <option value="4">Option 4</option>
                        <option value="5">Option 5</option>
                        <option value="6">Option 6</option>
                        <option value="7">Option 7</option>
                        <option value="8">Option 8</option>
                        <option value="9">Option 9</option>
                        <option value="10">Option 10</option>
                        <option value="11">Option 11</option>
                        <option value="12">Option 12</option>  
                    </select>
                    <!-- {% if projects %}
                        <select class="browser-default" name="projects" id="id_projects" style="height: 150px; width: 100%;" multiple>
                            <option value="" disabled selected>Choose Project</option>
                            {% for project in projects %}
                                <option value="{{ project.id }}">{{ project.name }}</option>
                            {% endfor %}
                        </select>
                    {% endif %} -->
                    <small id="pdHelp" class="form-text text-muted sub-text font-italic">
                        Hold down "Control", or "Command" on a Mac, to select more than one.
                    </small>
                </div>
            </div>
        </form>

        <div style="display: flex;flex-direction: row;align-items: center;" id="attr_row">
            <div class="input-field col s12" style="width: 300px;margin-left: 30px;">
                <select class="browser-default form-control" id="team-member-name">
                    <option value="" disabled selected>Choose member</option>
                    {% for worker in workers %}
                        <option value="{{ worker.id }}">{{ worker.username }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="input-field col s12" style="margin-left: 30px;">
                <select class="browser-default form-control" id="team-member-role">
                    <option value="" disabled selected>Choose role</option>
                    <option value="0">Annotator</option>
                    <option value="1">Validator</option>
                </select>
            </div>
            <div style="margin-left: 30px;">
                <button type="button" class="deep-purple btn btn-sm">
                    Set Role
                </button>
            </div>   
        </div>
        <button class="deep-purple waves-effect waves-light btn-flat" style="color: #ede7f6;" type="submit">
            Create New Team
        </button>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, options);
  });
</script>
    <script type="text/javascript" src="{% static 'app/assets/js/new_team.js' %}"></script>
{% endblock %}