{% extends 'entities/dashboard/base_dashboard.html' %}
{% load static %}

{% block head %}
<style>
    .input-field label {
        color:#212121 !important;
    }

    .input-field input[type=text]:focus + label {
        color: #212121 !important;
    }

    .input-field input[type=text]:focus {
        border-bottom: 1px solid #673ab7 !important;
        box-shadow: 0 1px 0 0 #673ab7 !important;
    }

    .input-field input[type=text].valid {
        border-bottom: 1px solid #673ab7 !important;
        box-shadow: 0 1px 0 0 #673ab7 !important;
    }

    .input-field textarea[type=text]:focus + label {
        color: #212121 !important;
    }

    .input-field textarea[type=text]:focus {
        border-bottom: 1px solid #673ab7 !important;
        box-shadow: 0 1px 0 0 #673ab7 !important;
    }

    .input-field textarea[type=text].valid {
        border-bottom: 1px solid #673ab7 !important;
        box-shadow: 0 1px 0 0 #673ab7 !important;
    }
    .input-field .prefix.active {
        color: #673ab7 !important;
    }
    .flex-row {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;
    }
    .flex-column {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .border {
        padding: 10px;
        border-radius: 5px;
        background-color: #ede7f6;
    }
    .border-dashed {
        padding: 40px;
        border-width: 3px;
        border-style: dashed;
        border-color: #b39ddb;
        border-radius: 5px;
    }
    ul.stepper .step.active:before, ul.stepper .step.done:before {
    background-color: #b39ddb !important;
}

</style>
  <!-- Materializecss compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/materialize-stepper@2.1.4/materialize-stepper.css" rel="stylesheet">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <!-- Materializecss compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  <!-- jQueryValidation Plugin -->
  <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
{% endblock %}

{% block body %}
<body>
    <div class="container">
        <form class="form" id="submit_form" enctype="multipart/form-data" method="post" action="#">
            {{ form.errors }}
            <ul class="stepper parallel vertical">
                <li class="step active">
                    <div class="step-title waves-effect waves-dark">Step 1</div>
                    <div class="step-content">
                        <div class="row">
                        <div class='form-field col s12'>
                            <p>
                                <div class="input-field">
                                    <input id="id_username" class="validate" type="text" required>
                                    <label for="id_username">Project Name</label>
                                </div>
                            </p>
                            <p>
                                <div class="row">
                                    <form class="col s12">
                                        <div class="input-field col s12">
                                            <textarea type="text" id="textarea1" class="materialize-textarea" name="descfield" id="id_descfield"></textarea>
                                            <label for="textarea1">Type labeling instruction</label>
                                        </div>
                                    </form>
                                </div>
                            </p>
                            <p>
                                <div class="row">
                                    <div class="form-group input-field col s12">
                                        <select class="browser-default form-control" id="id_task_type" required>
                                            <option value="" disabled selected>Choose task</option>
                                            <option value="0">Test 1</option>
                                            <option value="1">Test 2</option>
                                            {% for task_type in task_type_qs %}
                                                <option value="{{ task_type.id }}" data-app="{{ task_type.app }}">
                                                    {{ task_type.name }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                        <div class="errors id_task_type">
                                        </div>
                                    </div>
                                </div>
                            </p>
                        </div>
                        </div>
                        <div class="step-actions">
                            <button class="deep-purple waves-effect waves-light btn-flat next-step" style="color: #ede7f6;" type="submit" data-validator="validateStepOne">
                                CONTINUE
                            </button>
                        </div>
                    </div>
                </li>
      
            
            <li class="step">
              <div class="step-title waves-effect waves-dark">Step 2</div>
              <div class="step-content">
                <div class="row">
                  <div class='form-field col s12'>
                    <div class="input-field col s12">
                        <div class="row raw-images">
                            <div class="col-lg-8 col-md-10">
                                <p>Choose how you like to upload images:</p>
                                <!-- <input type="file" accept="image/png,image/jpeg" id="raw_images" name="raw_images" multiple> -->
                                <div class="container border">
                                    <div class="flex-column border-dashed">
                                        <div class="flex-row">
                                            <div class="flex-column">
                                                <i class="large material-icons">backup</i>
                                                <p>Cloud-upload</p>
                                            </div>
                                            <div>
                                                <i class="large material-icons">storage</i>
                                                <p>Insert Drive file</p>
                                            </div>
                                            <div>
                                                <i class="large material-icons">list</i>
                                                <p>Text snippet</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="margin-top: 20px;">
                                    <ul>
                                        <li>ZIP file: a file.zip with image </li>
                                        <li>Drive: image files</li>
                                        <li>Text: a file with a column contains a link to image</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                       <!--  <div class="row images">
                            <div class="col-lg-8 col-md-10">
                                <label style="text-transform: none;">
                                    Upload Images as ZIP, 7Z, or RAR File  
                                    (<span class="font-italic">contains only images file, no subfolders</span>):
                                </label>
                
                                <label style="display: none;">Upload Geotiff
                                    (<span class="font-italic">raw geotiff file or zip file contains only geotiff files</span>):
                                </label>
                                    
                                <div class="image-upload">
                                    <label for="local-input">
                                        <img width="50" height="50" 
                                        data-tiffsrc="{% static 'app/images/tiff_icon.png' %}" data-zipsrc="{% static 'app/images/zip_icon.png' %}" src="{% static 'app/images/zip_icon.png' %}" />
                                    </label>
                                    <input type="file" class="form-control form-control-file" name="filefield" id="local-input"
                                        accept="zip,.rar,application/octet-stream,application/zip,application/x-zip,application/x-zip-compressed">
                                    <label class="file-name-local-input" for="local-input"></label>
                                    
                                </div>
                                <div id="progress" style="display: none;">
                                    <span id="progress-text"></span>
                                    <progress id="progress-bar" value="0" max="100">
                                    </progress>
                                </div>
                                <div class="errors id_filefield"></div>
                            </div>
                        </div> -->


                       <!--  <div class="row text-file">
                            <div class="col-lg-8 col-md-10">
                                <label style="text-transform: none;">Upload CSV or Text File of Image URLs from GCP, Azure or S3. 
                                    (<span class="font-italic">Each line must contain only Image URL</span>):</label>
                                <div class="image-upload">
                                    <label for="list-url-input">
                                        <img width="50" height="50" title="Upload list of image urls" src="{% static 'app/images/list_url_icon.png' %}" />
                                    </label>
                                    <input type="file" class="form-control form-control-file" name="list_url_file" id="list-url-input"
                                        accept="text/plain,.csv">
                                    <label class="file-name-list-url-input" for="list-url-input"></label>
                                </div>
                            </div>
                        </div> -->


                      
                    </div>
                  </div>
                </div>
                <div class="step-actions">
                    <button class="deep-purple waves-effect waves-light btn-flat next-step" style="color: #ede7f6;" type="submit"data-validator="validateStepOne">
                        CONTINUE
                    </button>
                    <button class="waves-effect waves-dark btn-flat previous-step">
                        BACK
                    </button>
                </div>
              </div>
            </li>


            <li class="step">
                <div class="step-title waves-effect waves-dark">Step 3</div>
                <div class="step-content">
                    <div class="row">
                        <div class="form-field col s12">
                            
                            <div class="row attributes">          

                                <div class="form-group">
                                    <label for="attr_row">Annotation attributes</label>
                                    <div class="row" id="attr_row">
                                        <div class="input-field">
                                            <input id="attr_name" class="form-control" type="text" required>
                                            <label for="id_username">Name</label>
                                        </div>

                                        <div class="input-field">
                                            <input id="attr_name" class="form-control" type="text" required>
                                            <label for="id_username">Default</label>
                                        </div>
                                        <div style="display: flex;flex-direction: row;justify-content: start;align-items: center; width: 300px;">
                                            <div class="input-field col s12">
                                                <select class="browser-default">
                                                    <option value="" disabled selected>Choose one option</option>
                                                    <option value="text">Text</option>
                                                    <option value="dropdown">Dropdown</option>
                                                    <option value="dropdown">Checkbox</option>
                                                </select>
                                            </div>
                                            <button type="button" class="deep-purple btn btn-sm" id="attr_add_button"><i class="material-icons">add</i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">                                
                                    <div class="row" id="attr_row2">
                                        <form class="col s12">
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <textarea id="attr_txt" class="materialize-textarea form-control" type="text"></textarea>
                                                    <label for="attr_txt">Write dropdown/checkbox options here, one in the line</label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <ul class="list-group" id="attr_list_display"></ul>
                                <div class="errors id_attributes"></div>
                                <div class="step-actions">
                                    <button class="deep-purple waves-effect waves-dark btn next-step" id="new_project_submit_button" type="submit" value="SUBMIT">
                                    Create Project
                                    </button>
                                  <button class="waves-effect waves-dark btn-flat previous-step">BACK</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            {% csrf_token %}
            {{ form.jsonfield.as_hidden }}
            <input name="upload_id" hidden>
            <input name="md5" hidden>
            <input name="app" hidden>
        </form>  
    </div>
    <div id="result"></div>
    {% endblock %}
</body>



{% block scripts %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, options);
  });

    $(document).ready(function() {
    $('.stepper').activateStepper();
})

function validateStepOne() {
  // Extract the checked checkboxes from the first step
  if($('.step').first().find('input[type="checkbox"]:checked').length)
    return true;
  return false;
}

function validateStepThree() { test
  var validation = true;
  if($('.step:nth-child(3) input[type="text"]').val().indexOf('materialize') === -1)
    validation = false;
  if($('.step:nth-child(3) input[type="checkbox"]:checked').length === 0)
    validation = false;
  return validation;
  
}

function nextStepThreeHandler() {
  if(validateStepThree())
    $('.stepper').nextStep();
  else {
    $('.stepper ').destroyFeedback();              $('.stepper').getStep($('.stepper').getActiveStep()).addClass('wrong');
  }
}




/* Materializecss Stepper - By Kinark 2016
// https://github.com/Kinark/Materialize-stepper
// JS v2.1.3
*/

var validation = $.isFunction($.fn.valid) ? 1 : 0;

$.fn.isValid  = function() {
   if(validation){
      return this.valid();
   } else {
      return true;
   }
};

if (validation) {
   $.validator.setDefaults({
      errorClass: 'invalid',
      validClass: "valid",
      errorPlacement: function (error, element) {
         if(element.is(':radio') || element.is(':checkbox')) {
            error.insertBefore($(element).parent());
         } else {
            error.insertAfter(element); // default error placement.
            // element.closest('label').data('error', error);
            // element.next().attr('data-error', error);
         }
      },
      success: function (element) {
         if(!$(element).closest('li').find('label.invalid:not(:empty)').length){
            $(element).closest('li').removeClass('wrong');
         }
      }
   });

   // When parallel stepper is defined we need to consider invisible and
   // hidden fields
   if($('.stepper.parallel').length) $.validator.setDefaults({ignore:''});
}

$.fn.getActiveStep  = function() {
   var active = this.find('.step.active');
   return $(this.children('.step:visible')).index($(active))+1;
};

$.fn.activateStep  = function(callback) {
   if($(this).hasClass('step')) return;
   var stepper = $(this).closest('ul.stepper');
   stepper.find('>li').removeAttr("data-last");
   if(window.innerWidth < 993 || !stepper.hasClass('horizontal')) {
      $(this).addClass("step").stop().slideDown(400, function(){
         $(this).css({'height':'auto', 'margin-bottom': '','display': 'inherit'});if(callback)callback();
         stepper.find('>li.step').last().attr('data-last', 'true');
      });
   } else {
      $(this).addClass("step").stop().css({'width':'0%','display': 'inherit'}).animate({width:'100%'}, 400, function(){
         $(this).css({'height':'auto', 'margin-bottom': '','display': 'inherit'});if(callback)callback();
         stepper.find('>li.step').last().attr('data-last', 'true');
      });
   }
};

$.fn.deactivateStep  = function(callback) {
   if(!$(this).hasClass('step')) return;
   var stepper = $(this).closest('ul.stepper');
   stepper.find('>li').removeAttr("data-last");
   if(window.innerWidth < 993 || !stepper.hasClass('horizontal')) {
      $(this).stop().css({'transition':'none', '-webkit-transition':'margin-bottom none'}).slideUp(400, function(){
         $(this).removeClass("step").css({'height':'auto','margin-bottom':'','transition':'margin-bottom .4s','-webkit-transition':'margin-bottom .4s'});
         if(callback)callback();
         stepper.find('>li').removeAttr("data-last");
         stepper.find('>li.step').last().attr('data-last', 'true');
      });
   } else {
      $(this).stop().animate({width:'0%'}, 400, function(){
         $(this).removeClass("step").hide().css({'height':'auto', 'margin-bottom': '','display': 'none', 'width': ''});
         if(callback)callback();
         stepper.find('>li.step').last().attr('data-last', 'true');
      });
   }
};

$.fn.showError  = function(error) {
   if(validation) {
      var name = this.attr('name');
      var form = this.closest('form');
      var obj = {};
      obj[name] = error;
      form.validate().showErrors(obj);
      this.closest('li').addClass('wrong');
   } else {
      this.removeClass('valid').addClass('invalid');
      this.next().attr('data-error', error);
   }
};

$.fn.activateFeedback  = function() {
   var active = this.find('.step.active:not(.feedbacking)').addClass('feedbacking').find('.step-content');
   active.prepend('<div class="wait-feedback"> <div class="preloader-wrapper active"> <div class="spinner-layer spinner-blue"> <div class="circle-clipper left"> <div class="circle"></div></div><div class="gap-patch"> <div class="circle"></div></div><div class="circle-clipper right"> <div class="circle"></div></div></div><div class="spinner-layer spinner-red"> <div class="circle-clipper left"> <div class="circle"></div></div><div class="gap-patch"> <div class="circle"></div></div><div class="circle-clipper right"> <div class="circle"></div></div></div><div class="spinner-layer spinner-yellow"> <div class="circle-clipper left"> <div class="circle"></div></div><div class="gap-patch"> <div class="circle"></div></div><div class="circle-clipper right"> <div class="circle"></div></div></div><div class="spinner-layer spinner-green"> <div class="circle-clipper left"> <div class="circle"></div></div><div class="gap-patch"> <div class="circle"></div></div><div class="circle-clipper right"> <div class="circle"></div></div></div></div></div>');
};

$.fn.destroyFeedback  = function() {
   var active = this.find('.step.active.feedbacking');
   if(active) {
      active.removeClass('feedbacking');
      active.find('.wait-feedback').remove();
   }
   return true;
};

$.fn.resetStepper  = function(step) {
   if(!step) step = 1;
   var form = $(this).closest('form');
   $(form)[0].reset();
   Materialize.updateTextFields();
   return $(this).openStep(step);
};

$.fn.submitStepper  = function(step) {
   var form = this.closest('form');
   if(form.isValid()) {
      form.submit();
   }
};

$.fn.nextStep = function(callback, activefb, e) {
   var stepper = this;
   var settings = $(stepper).data('settings');
   var form = this.closest('form');
   var active = this.find('.step.active');
   var next = $(this.children('.step:visible')).index($(active))+2;
   var feedback = active.find('.next-step').length > 1 ? (e ? $(e.target).data("feedback") : undefined) : active.find('.next-step').data("feedback");
   // If the stepper is parallel, we want to validate the input of the current active step. Not all elements.
   if((settings.parallel && $(active).validateStep()) || (!settings.parallel && form.isValid())) {
      if(feedback && activefb) {
         if(settings.showFeedbackLoader) stepper.activateFeedback();
         return window[feedback].call();
      }
      active.removeClass('wrong').addClass('done');
      this.openStep(next, callback);
      return this.trigger('nextstep');
   } else {
      return active.removeClass('done').addClass('wrong');
   }
};

$.fn.prevStep = function(callback) {
   var active = this.find('.step.active');
   if(active.hasClass('feedbacking')) return;
   var prev = $(this.children('.step:visible')).index($(active));
   active.removeClass('wrong');
   this.openStep(prev, callback);
   return this.trigger('prevstep');
};

$.fn.openStep = function(step, callback) {
   var settings = $(this).closest('ul.stepper').data('settings');
   var $this = this;
   var step_num = step - 1;
   step = this.find('.step:visible:eq('+step_num+')');
   if(step.hasClass('active')) return;
   var active = this.find('.step.active');
   var next;
   var prev_active = next = $(this.children('.step:visible')).index($(active));
   var order = step_num > prev_active ? 1 : 0;
   if(active.hasClass('feedbacking')) $this.destroyFeedback();
   active.closeAction(order);
   step.openAction(order, function(){
      if(settings.autoFocusInput) step.find('input:enabled:visible:first').focus();
      $this.trigger('stepchange').trigger('step'+(step_num+1));
      if(step.data('event')) $this.trigger(step.data('event'));
      if(callback)callback();
   });
};

$.fn.closeAction = function(order, callback) {
   var closable = this.removeClass('active').find('.step-content');
   if(window.innerWidth < 993 || !this.closest('ul').hasClass('horizontal')) {
      closable.stop().slideUp(300,"easeOutQuad", callback);
   } else {
      if(order==1) {
         closable.animate({left: '-100%'},function(){closable.css({display: 'none', left: '0%'}, callback);});
      } else {
         closable.animate({left: '100%'},function(){closable.css({display: 'none', left: '0%'}, callback);});
      }
   }
};

$.fn.openAction = function(order, callback) {
   var openable = this.removeClass('done').addClass('active').find('.step-content');
   if(window.innerWidth < 993 || !this.closest('ul').hasClass('horizontal')) {
      openable.slideDown(300,"easeOutQuad", callback);
   } else {
      if(order==1) {
         openable.css({left: '100%', display: 'block'}).animate({left: '0%'}, callback);
      } else {
         openable.css({left: '-100%', display: 'block'}).animate({left: '0%'}, callback);
      }
   }
};

$.fn.activateStepper = function(options) {
   var settings = $.extend({
      linearStepsNavigation: true,
      autoFocusInput: true,
      showFeedbackLoader: true,
      autoFormCreation: true,
      parallel: false // By default we don't assume the stepper is parallel
   }, options);
   $(document).on('click', function(e){
      if(!$(e.target).parents(".stepper").length){
         $('.stepper.focused').removeClass('focused');
      }
   });

   $(this).each(function(){
      var $stepper = $(this);
      if(!$stepper.parents("form").length && settings.autoFormCreation) {
         var method = $stepper.data('method');
         var action = $stepper.data('action');
         var method = (method ? method : "GET");
         action = (action ? action : "?");
         $stepper.wrap( '<form action="'+action+'" method="'+method+'"></form>' );
      }

      $stepper.data('settings', {linearStepsNavigation: settings.linearStepsNavigation,autoFocusInput: settings.autoFocusInput,showFeedbackLoader:settings.showFeedbackLoader, parallel:$stepper.hasClass('parallel')});
      $stepper.find('li.step.active').openAction(1);
      $stepper.find('>li').removeAttr("data-last");
      $stepper.find('>li.step').last().attr('data-last', 'true');

      $stepper.on("click", '.step:not(.active)', function () {
         var object = $($stepper.children('.step:visible')).index($(this));
         if($stepper.data('settings').parallel && validation) { // Invoke parallel stepper behaviour
            $(this).addClass('temp-active');
            $stepper.validatePreviousSteps()
            $stepper.openStep(object + 1);
            $(this).removeClass('temp-active');
         } else if(!$stepper.hasClass('linear')) {
            $stepper.openStep(object+1);
         } else if(settings.linearStepsNavigation) {
            var active = $stepper.find('.step.active');
            if($($stepper.children('.step:visible')).index($(active))+1 == object) {
               $stepper.nextStep(undefined, true, undefined);
            } else if ($($stepper.children('.step:visible')).index($(active))-1 == object) {
               $stepper.prevStep(undefined);
            }
         }
      }).on("click", '.next-step', function(e) {
         e.preventDefault();
         $stepper.nextStep(undefined, true, e);
      }).on("click", '.previous-step', function(e) {
         e.preventDefault();
         $stepper.prevStep(undefined);
      }).on("click", "button:submit:not(.next-step, .previous-step)", function (e) {
         e.preventDefault();
         feedback = e ? $(e.target).data("feedback") : undefined;
         var form = $stepper.closest('form');
         if(form.isValid()) {
            if(feedback) {
               stepper.activateFeedback();
               return window[feedback].call();
            }
            form.submit();
         }
      }).on("click", function () {
         $('.stepper.focused').removeClass('focused');
         $(this).addClass('focused');
      });
   });
};

/**
 * Return the step element on given index.
 *
 * @param step, index of the step to be returned
 * @returns {*}, the step requested
 */
$.fn.getStep = function(step) {
    var settings = $(this).closest('ul.stepper').data('settings');
    var $this = this;
    var step_num = step - 1;
    step = this.find('.step:visible:eq('+step_num+')');
    return step;
};

/**
 * Run validation over all previous steps from the steps this
 * function is called on.
 */
$.fn.validatePreviousSteps = function() {
    var active = $(this).find('.step.temp-active');
    var index = $(this.children('.step')).index($(active));
    // We assume that the validator is set to ignore nothing.
    $(this.children('.step')).each(function(i) {
        if (i >= index) {
            $(this).removeClass('wrong done');
        } else {
            $(this).validateStep();
        }
    });
};

/**
 * Validate the step that this function is called on.
 */
$.fn.validateStep = function() {
    var stepper = this.closest('ul.stepper');
    var form = this.closest('form');
    var step = $(this);
    // Retrieve the custom validator for that step if exists.
    var validator = step.find('.next-step').data("validator");
    if(this.validateStepInput()) { // If initial base validation succeeded go on
      if(validator) { // If a custom validator is given also call that validator
         if (window[validator].call()) {
             step.removeClass('wrong').addClass('done');
             return true;
         }
         else {
             step.removeClass('done').addClass('wrong');
             return false;
         }
      }
      step.removeClass('wrong').addClass('done');
      return true;
    } else {
      step.removeClass('done').addClass('wrong');
      return false;
    }
};

/**
 * Uses the validation variable set by the stepper constructor
 * to run standard validation on the current step.
 * @returns {boolean}
 */
$.fn.validateStepInput = function() {
    var valid = true;
    if (validation) {
        // Find all input fields dat need validation in current step.
        $(this).find('input.validate').each(function() {
            if (!$(this).valid()) {
                valid = false;
                return false;
            }
        });
    }
    return valid;
};
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/3.2.0/fabric.min.js"></script>
<script type="text/javascript" src="{% static 'app/assets/js/new_project.js' %}"></script>
<script type="text/javascript" src="{% static 'app/assets/js/picker/google_picker.js' %}"></script>
<script type="text/javascript" src="https://apis.google.com/js/api.js"></script>
<script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs"
    data-app-key="um210a8kw2u6pk5"></script>
<script type="text/javascript" src="{% static 'app/assets/js/picker/dropbox_picker.js' %}"></script>

<script src="{% static 'app/assets/js/upload/jquery.js' %}"></script>
<script src="{% static 'app/assets/js/upload/jquery.ui.widget.js' %}"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="{% static 'app/assets/js/upload/jquery.iframe-transport.js' %}"></script>
<!-- The basic File Upload plugin -->
<script src="{% static 'app/assets/js/upload/jquery.fileupload.js' %}"></script>
<!-- Calculate md5 -->
<script src="{% static 'app/assets/js/upload/spark-md5.js' %}"></script>
<script src="{% static 'app/assets/js/upload/main.js' %}"></script>
{% endblock %}