<head>
  <!-- Materializecss compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/materialize-stepper@2.1.4/materialize-stepper.css" rel="stylesheet">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <!-- Materializecss compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  <!-- jQueryValidation Plugin -->
  <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
</head>

<body class="container">
  <form>
    <ul class="stepper parallel horizontal">
      <li class="step active">
        <div class="step-title waves-effect waves-dark">Step 1</div>
        <div class="step-content">
          <div class="row">
            <div class='form-field col s12'>
              <p>Step with custom validation</p>
              <span>For this step we want to have a custom validator that checks if if at least one checkbox is checked</span>
              <p>
                <input name='checkbox1' type="checkbox" class="filled-in"
                       id="checkbox1" value='checkbox1'/>
                <label for="checkbox1">Checkbox 1</label>
              </p>
              <p>
                <input name='checkbox2' type="checkbox" class="filled-in"
                       id="checkbox2" value='checkbox2'/>
                <label for="checkbox2">Checkbox 2</label>
              </p>
            </div>
          </div>
          <div class="step-actions">
            <button class="waves-effect waves-dark btn next-step" data-validator="validateStepOne">CONTINUE</button>
            <button class="waves-effect waves-dark btn-flat previous-step">BACK</button>
          </div>
        </div>
      </li>

      
      <li class="step">
        <div class="step-title waves-effect waves-dark">Step 2</div>
        <div class="step-content">
          <div class="row">
            <div class='form-field col s12'>
              <p>Step with no custom validation</p>
              <div class="input-field col s12">
                <input type="text" name="textfield" class="required validate"/>
                <label for="textfield">Random textfield</label>
              </div>
            </div>
          </div>
          <div class="step-actions">
            <button class="waves-effect waves-dark btn next-step">CONTINUE</button>
            <button class="waves-effect waves-dark btn-flat previous-step">BACK</button>
          </div>
        </div>
      </li>
      <li class="step">
        <div class="step-title waves-effect waves-dark">Step 3</div>
        <div class="step-content">
          <div class="row">
            <div class='form-field'>
              <p>Step with feedback and custom validation</p>
              <p>
                <input name='checkbox3' type="checkbox" class="filled-in"
                       id="checkbox3" value='checkbox3'/>
                <label for="checkbox3">Checkbox 3</label>
              </p>
              <p>
                <input name='checkbox4' type="checkbox" class="filled-in"
                       id="checkbox4" value='checkbox4'/>
                <label for="checkbox4">Checkbox 4</label>
              </p>
            </div>
            <div class="input-field col s12">
              <input type="text" id="textfield2" name="textfield2" class="required validate"/>
              <label for="textfield2">This field should contain the word materialize</label>
            </div>
          </div>
          <div class="step-actions">
            <button class="waves-effect waves-dark btn next-step" data-feedback="nextStepThreeHandler" data-validator="validateStepThree">SUBMIT</button>
            <button class="waves-effect waves-dark btn-flat previous-step">BACK</button>
          </div>
        </div>
      </li>
      <li class="step">
        <div class="step-title waves-effect waves-dark">Step 4</div>
        <div class="step-content">
          <div class="row">
            <div class='form-field'>
              <p>Submit phase</p>
            </div>
          </div>
          <div class="step-actions">
            <input type="submit" class="waves-effect waves-dark btn next-step" value="SUBMIT"/>
            <button class="waves-effect waves-dark btn-flat previous-step">BACK</button>
          </div>
        </div>
      </li>
    </ul>
  </form>
  </body>