{% extends 'entities/dashboard/base_dashboard.html' %}
{% load static %}

{% block head %}
    <title>Teams | Taqadam</title>
    <style>
        .flex-row {
            display: flex;
            flex-direction: row;
            justify-content:space-between;
        }
        .secondary-content {
            color: #9575cd;
            align-self: flex-end;
        }
    </style>
{% endblock %}

{% block breadcrumb %}
    <h4 class="page-title pull-left">Teams</h4>
{% endblock %}

{% block body %}
<div class="container">
    <a href="{% url 'new_team' %}" class="deep-purple waves-effect waves-light btn-flat" style="color: #ede7f6;" type="submit">Create New Team</a>
    <ul class="collapsible expandable">
        <li>
            <div class="collapsible-header flex-row">
                Team First
                <a href="{% url 'new_team' %}" class="secondary-content">
                    <i class="material-icons">delete</i>
                </a>
            </div>
            <div class="collapsible-body">
                <div style="display: flex;flex-direction: row;">
                    <div style="margin-left: 10%;">
                        <a target="_blank" style="display: block;" href="#">Project Party</a>
                    </div>
                    <div style="margin-left: 60%;">
                        <p style="display: block;">Juli  (Arquero)</p>
                        <p style="display: block;">Mechi  (Mago)</p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="collapsible-header flex-row">
                Team First
                <a href="#!" class="secondary-content">
                    <i class="material-icons">delete</i>
                </a>
            </div>
            <div class="collapsible-body">
                <div style="display: flex;flex-direction: row;">
                    <div style="margin-left: 10%;">
                        <a target="_blank" style="display: block;" href="#">Project Party</a>
                    </div>
                    <div style="margin-left: 60%;">
                        <p style="display: block;">Juli  (Arquero)</p>
                        <p style="display: block;">Mechi  (Mago)</p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="collapsible-header flex-row">
                Team First
                <a href="#!" class="secondary-content">
                    <i class="material-icons">delete</i>
                </a>
            </div>
            <div class="collapsible-body">
                <div style="display: flex;flex-direction: row;">
                    <div style="margin-left: 10%;">
                        <a target="_blank" style="display: block;" href="#">Project Party</a>
                        <a target="_blank" style="display: block;" href="#">Project Party</a>
                        <a target="_blank" style="display: block;" href="#">Project Party</a>
                        <a target="_blank" style="display: block;" href="#">Project Party</a>
                        <a target="_blank" style="display: block;" href="#">Project Party</a>
                        <a target="_blank" style="display: block;" href="#">Project Party</a>
                        <a target="_blank" style="display: block;" href="#">Project Party</a>
                    </div>
                    <div style="margin-left: 60%;">
                        <p style="display: block;">Juli  (Arquero)</p>
                        <p style="display: block;">Mechi  (Mago)</p>
                        <p style="display: block;">Juli  (Arquero)</p>
                        <p style="display: block;">Mechi  (Mago)</p>
                        <p style="display: block;">Juli  (Arquero)</p>
                        <p style="display: block;">Mechi  (Mago)</p>
                        <p style="display: block;">Juli  (Arquero)</p>
                        <p style="display: block;">Mechi  (Mago)</p>
                        <p style="display: block;">Juli  (Arquero)</p>
                        <p style="display: block;">Mechi  (Mago)</p>
                    </div>
                </div>
            </div>
        </li>
    </ul>


    <ul class="collapsible expandable">
        {% for team in teams %}
        <li>
            <div class="collapsible-header flex-row">
                {{ team.name }}
                <a href="#!" class="secondary-content">
                    <i class="material-icons">delete</i>
                </a>
            </div>
            <div class="collapsible-body">
                <div style="display: flex;flex-direction: row;">
                    {% for project in team.projects.all %}
                    <div style="margin-left: 10%;">
                        <a target="_blank" style="display: block;" href="{% url 'app_dashboard_project' project_id=project.id %}">{{ project.name }}</a>
                    </div>
                    {% endfor %}

                    {% for member in team.team_members.all %}
                    <div style="margin-left: 60%;">
                        <p style="display: block;">{{ member.user }}  ({{ member.role_name }})</p>
                    </div>
                    {% endfor %}

                    <div class="col-md-2">
                        <a href="{% url 'team_detail' pk=team.id %}" title="Delete this file" class="secondary-content delete">
                            <i class="material-icons">delete</i>
                        </a>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    
</div>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems, options);
  });
    var elem = document.querySelector('.collapsible.expandable');
    var instance = M.Collapsible.init(elem, {
    accordion: false
    });
</script>
<script type="text/javascript" src="{% static 'app/assets/js/team.js' %}"></script>
{% endblock %}