@font-face {
    font-family: Abandon-medium;
    font-weight: normal;
    src: url("{% static 'app/assets/fonts/Abandon_Medium.otf' %}") format("opentype");
}

@font-face {
    font-family: Lato-black;
    font-weight: normal;
    src: url("{% static 'app/assets/fonts/Lato-Black.ttf' %}") format("truetype");
}

@font-face {
    font-family: Lato-medium;
    font-weight: normal;
    src: url("{% static 'app/assets/fonts/Lato-Medium.ttf' %}") format("truetype");
}

@font-face {
    font-family: Lato;
    font-weight: normal;
    src: url("{% static 'app/assets/fonts/Lato-Regular.ttf' %}") format("truetype");
}



html,
body {
    height: 100%;
}

body.login-page {
    display: grid;
    align-items: center;
    background-image: -moz-linear-gradient(90deg, rgb(128, 0, 148) 0%, rgb(29, 0, 96) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(128, 0, 148) 0%, rgb(29, 0, 96) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(128, 0, 148) 0%, rgb(29, 0, 96) 100%);
    color: #800094;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.login-page .form-signin input[type="password"] {
    margin: 0;
}

.logo {
    padding-right: 12.5px;
}

.logo img {
    width: 100%;
}

.inputs {
    margin-top: 50px;
    margin-bottom: 50px;
}

.input-group {
    margin-top: 25px;
    margin-bottom: 25px;
}

.input-icon {
    display: grid;
    align-items: center;
    width: 50px;
    color: white;
    border: 2px solid #800094;
    height: 100%;
}

.input-group-prepend {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}


header {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    margin-bottom: 50px;
}

header h1.h3.mb-3 {
    margin: 0 !important;
    height: 100%;
    width: 100%;
    border-left: 1px solid #800094;
    padding-left: 25px;
    display: grid;
    align-items: center;
}


.errors {

    border: 2px solid #800094;
    display: grid;
    padding: 10px;
    margin-bottom: 50px;
}

.errors p {
    margin: 0;
    line-height: 1.5;
}

.signin-component {
    width: 100%;
    max-width: 430px;
    padding: 0;
    border-radius: 15px;
    border: 1px solid;
    background: white;
    margin: 25px auto 5px;
}

.signin-component .content {
    margin: 50px;
}


i.fa {
    color: #800094;
}

.account-info {
    color: white;
    text-align: right;
    max-width: 430px;
    margin: auto;
}

.account-info a {
    color: white
}