{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    {% block title %}
        <title>Signin</title>
    {% endblock %}
    <style>

        @font-face {
            font-family: 'Roboto';
            font-weight: normal;
            src: url("{% static 'fonts/Roboto-Regular.ttf' %}") format("ttf");
        }

        body {
            font-family: 'Roboto', sans-serif;
        }

        .text-grey {
            color: #212121;
        }

        .input-field label {
            color:#212121 !important;
        }

        .input-field input[type=text]:focus + label {
            color: #212121 !important;
        }

        .input-field input[type=text]:focus {
            border-bottom: 1px solid #673ab7 !important;
            box-shadow: 0 1px 0 0 #673ab7 !important;
        }

        .input-field input[type=text].valid {
            border-bottom: 1px solid #673ab7 !important;
            box-shadow: 0 1px 0 0 #673ab7 !important;
        }

        .input-field input[type=password]:focus + label {
            color: #212121 !important;
        }

        .input-field input[type=password]:focus {
            border-bottom: 1px solid #673ab7 !important;
            box-shadow: 0 1px 0 0 #673ab7 !important;
        }

        .input-field input[type=password].valid {
            border-bottom: 1px solid #673ab7 !important;
            box-shadow: 0 1px 0 0 #673ab7 !important;
        }

        .input-field .prefix.active {
            color: #673ab7 !important;
        }

        .login-component {
            justify-content: space-between;
            height: 100vh;
        }

        .login-container {
            align-items: center;
        }

        .w-45 {
            width: 45% !important;
        }

        .welcome-container {
            display: flex;
            flex-direction: row;
            justify-content: space-around; 
            align-items: center;
        }

        .logo {
            position: relative;
            height: 7%;
            top: 6px;
        }

        .privacy-text {
            align-self: flex-end;
            margin: 1rem;
        }

        .full-height {
            height: -webkit-fill-available;
        }

        .flex-row {
            display: flex; 
            flex-direction: row; 
        }

        .flex-column {
            display:flex; 
            flex-direction:column;
        }

        .ma-1 {
            margin-top: 1rem;
        }

        .ma-4 {
            margin-top: 4rem;
        }

        .ma--6 {
            margin-top: -6rem;
        }

    </style>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>

<body class="text-center">

    <div class="login-component flex-row">
        <div>
            <img class="full-height" src="{% static 'background-login.png' %}" alt="taqadam"/>
        </div>

        <div class="login-container flex-row">
            <div class="container">
                <div class="welcome-container">
                    <span class="deep-purple-text" style="font-size: 3vw;">Welcome to</span>
                    <img src="{% static 'logo-2.png' %}" alt="taqadam" class="logo w-45"/>
                </div>
                <p class="deep-purple-text center" style="font-style: italic;">We Make Visual Data AI-Ready</p>
                <div class="ma-4">
                    <span class="text-grey" style="font-size: 2vw;">Sign In</span>
                </div>

                {% block content %}

                    <div class="flex-column">
                        <div class="input-field">
                            <input id="id_username" class="validate" type="text" required>
                            <label class="text-grey" for="id_username">Username&nbsp;</label>
                        </div>
        
                        <div class="input-field">
                            <input id="id_password" type="password" class="validate" name="password">
                            <label for="id_password">Password&nbsp;</label>
                        </div>
                    </div>
                    <input type="hidden" name="next" value="{{ next }}">

                    {% if form.errors %}
                        <div class="errors">
                            <p>Your username and password didn't match. Please try again.</p>
                            {#            {{ form.errors }}#}
                        </div>
                    {% endif %}
                    <button class="deep-purple waves-effect waves-light btn-flat" style="color: #ede7f6;" type="submit">Sign in</button>

                {% endblock %}

                {% block action %}
                    <div class="flex-column ma-1">
                        <div>
                            <span>Don't have an account yet?</span>
                            <a href="#" class="white waves-effect waves-teal btn-flat deep-purple-text" style="font-weight:800;">Register</a>
                        </div>
                        <div>
                            <span>Don't remember the password?</span>
                            <a href="#" class="white waves-effect waves-teal btn-flat deep-purple-text" style="font-weight:800;">Reset password</a>
                        </div>
                    </div>
                {% endblock %}

            </div>
        </div>

        <div class="privacy-text">
            <a href="https://taqadam.io/legal/">
                <span class="text-grey">Privacy Policy</span>
            </a>
        </div>
    </div>

</body>

</html>
