{% extends 'entities/dashboard/base_dashboard.html' %}
{% load static %}

{% block head %}
    {% block title %}
        <title>Change password</title>
    {% endblock %}

    <style>
        @font-face {
            font-family: 'Roboto';
            font-weight: normal;
            src: url("{% static 'fonts/Roboto-Regular.ttf' %}") format("ttf");
        }

        body {
            font-family: 'Roboto', sans-serif;
        }
        
        .center {
            display: flex;
            flex-direction: column;
            justify-content: space-around; 
            align-items: center;
        }

        .ma-10 {
            margin-top: 10%;   
        }

        .logo {
            width: 70%;
            position: relative;
            height: 7%;
            top: 6px;
        }

        img {
            width: 100%;
        }

        .ma-2 {
            margin-top: 2rem;
        }

    </style>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{% endblock %}

{% block body %}
    <div class="center ma-10">
        <div class="center">
            <div class="logo">
                <img src="{% static 'logo-2.png' %}" alt="taqadam"/>
            </div>
            <div class="ma-2">
                <a href="#"></a><span class="deep-purple-text" style="font-size: 2vw;">Your password was changed.</span></a>
            </div>
        </div>
    </div>
{% endblock %}