{% extends 'entities/dashboard/base_dashboard.html' %}
{% load static %}
{% block head %}
    {% block title %}
        <title>Change password</title>
    {% endblock %}
    <style>
        @font-face {
            font-family: 'Roboto';
            font-weight: normal;
            src: url("{% static 'fonts/Roboto-Regular.ttf' %}") format("ttf");
        }

        body {
            font-family: 'Roboto', sans-serif;
        }
        
        .input-field label {
            color:#212121 !important;
        }

        .input-field input[type=password]:focus + label {
            color: #212121 !important;
        }

        .input-field input[type=password]:focus {
            border-bottom: 1px solid #673ab7 !important;
            box-shadow: 0 1px 0 0 #673ab7 !important;
        }

        .input-field input[type=password].valid {
            border-bottom: 1px solid #673ab7 !important;
            box-shadow: 0 1px 0 0 #673ab7 !important;
        }

        .input-field .prefix.active {
            color: #673ab7 !important;
        }

        .flex-column {
            display:flex; 
            flex-direction:column;
        }

        .ma-4 {
            margin-top: 4rem;
        }
        .mr-100 {
            margin-right: 100px;
        }

    </style>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    {% endblock %}
    {% block breadcrumb %}
    <div class="ma-4">
        <h1 class="grey-darken-4-text" style="font-size: 2vw;text-align: center;">Enter your old and new password</h1>
    </div>
    {% endblock %}

    
{% block body %}


<div class="container" >

    <div class="flex-column">
        <div class="input-field">
            <input id="old_password" class="validate" type="password" required>
            <label for="old_password">Old password*&nbsp;</label>
        </div>        
        <div class="input-field">
            <input id="new_password1" type="password" class="validate" name="password" required>
            <label for="new_password1">New password*&nbsp;</label>
        </div>
        <div class="input-field">
            <input id="new_password2" type="password" class="validate" name="password" required>
            <label for="new_password2">New password*&nbsp;</label>
        </div>
    </div>
    {% if form.errors %}
    <div class="errors">
        {% if form.errors.items|length == 1 %}
        <p>Please correct the error below.</p>
        {% else %}
        <p>Please correct the errors below.</p>
        {% endif %}
    </div>
    {% endif %}

    <a href="{% url 'pass_change_done' %}" class="deep-purple waves-effect waves-light btn-flat" style="color: #ede7f6;" type="submit">Change</a>


</div>

{% endblock %}