{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <title>Sign up</title>

    <style>
        @font-face {
            font-family: 'Roboto';
            font-weight: normal;
            src: url("{% static 'fonts/Roboto-Regular.ttf' %}") format("ttf");
        }

        body {
            font-family: 'Roboto', sans-serif;
        }
        
        .center {
            display: flex;
            flex-direction: column;
            justify-content: space-around; 
            align-items: center;
        }

        .ma-10 {
            margin-top: 10%;   
        }

        .logo {
            width: 70%;
            position: relative;
            height: 7%;
            top: 6px;
        }

        img {
            width: 100%;
        }

        .ma-2 {
            margin-top: 2rem;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    <div class="center ma-10">
        <div class="center">
            <div class="logo">
                <img src="{% static 'logo-2.png' %}" alt="taqadam"/>
            </div>
            <div class="ma-2">
                <a href="#"></a><span class="deep-purple-text" style="font-size: 2vw;">We send you an email to activate your account.</span></a>
            </div>
        </div>
    </div>
</body>

</html>