{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    {% block title %}
        <title>Sign up</title>
    {% endblock %}

    <style>
        @font-face {
            font-family: 'Roboto';
            font-weight: normal;
            src: url("{% static 'fonts/Roboto-Regular.ttf' %}") format("ttf");
        }

        body {
            font-family: 'Roboto', sans-serif;
        }

        .text-grey {
            color: #212121;
        }

        .input-field label {
            color:#212121 !important;
        }

        .input-field input[type=text]:focus + label {
            color: #212121 !important;
        }

        .input-field input[type=text]:focus {
            border-bottom: 1px solid #673ab7 !important;
            box-shadow: 0 1px 0 0 #673ab7 !important;
        }

        .input-field input[type=text].valid {
            border-bottom: 1px solid #673ab7 !important;
            box-shadow: 0 1px 0 0 #673ab7 !important;
        }

        .input-field input[type=password]:focus + label {
            color: #212121 !important;
        }

        .input-field input[type=password]:focus {
            border-bottom: 1px solid #673ab7 !important;
            box-shadow: 0 1px 0 0 #673ab7 !important;
        }

        .input-field input[type=password].valid {
            border-bottom: 1px solid #673ab7 !important;
            box-shadow: 0 1px 0 0 #673ab7 !important;
        }
        .input-field input[type=email]:focus + label {
            color: #212121 !important;
        }

        .input-field input[type=email]:focus {
            border-bottom: 1px solid #673ab7 !important;
            box-shadow: 0 1px 0 0 #673ab7 !important;
        }

        .input-field input[type=email].valid {
            border-bottom: 1px solid #673ab7 !important;
            box-shadow: 0 1px 0 0 #673ab7 !important;
        }
        .input-field .prefix.active {
            color: #673ab7 !important;
        }

        .login-component {
            justify-content: space-between;
            height: 100vh;
        }

        .login-container {
            align-items: center;
        }

        .w-45 {
            width: 45% !important;
        }

        .welcome-container {
            display: flex;
            flex-direction: row;
            justify-content: space-around; 
            align-items: center;
        }

        .logo {
            position: relative;
            height: 7%;
            top: 6px;
        }

        .full-height {
            height: -webkit-fill-available;
        }

        .flex-row {
            display: flex; 
            flex-direction: row; 
        }

        .form-row {
            display: flex;
            align-items: stretch;
        }
        .flex-column {
            display:flex; 
            flex-direction:column;
            align-items: center;
        }

        .ma-1 {
            margin-top: 1rem;
        }

        .mt-2 {
            margin-top: 2rem;
        }

        .ma--6 {
            margin-top: -6rem;
        }

        .container {
            height: 80%;
        }
        .center {
            text-align: center;
        }
        .mr-100 {
            margin-right: 100px;
        }

    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>


<body class="flex-row">
    <div class="login-component flex-row">
        <div>
            <img class="full-height" src="{% static 'background-login.png' %}" alt="taqadam"/>
        </div>

        <div class="login-container flex-column">
            <div class="container">
                <div class="welcome-container mt-4">
                    <span class="deep-purple-text" style="font-size: 3vw;">Welcome to</span>
                    <img src="{% static 'logo-2.png' %}" alt="taqadam" class="logo w-45"/>
                </div>
                <p class="deep-purple-text center" style="font-style: italic;">We Make Visual Data AI-Ready</p>
                <div class="mt-4 center">
                    <span class="text-grey" style="font-size: 2vw;">
                        Sign Up
                    </span>  
                </div>
                <div class="flex-column"> 
                    <form class="form-register" method="post">
                        {% csrf_token %}
                        <div class="flex-column">

                            <div class="input-field">
                                <input type="text" id="id_first_name" name="first_name" class="form-control"
                                autofocus autocomplete="first_name">
                                <label for="id_first_name">
                                    First name&nbsp;
                                </label>  
                            </div>

                            <div class="input-field">
                                <input type="text" id="id_last_name" name="last_name" class="form-control"
                                    autofocus autocomplete="last_name">
                                <label for="id_last_name">
                                    Last name&nbsp;
                                </label>
                            </div>

                            <div class="input-field">
                                <input type="text" id="id_username" name="username" class="form-control"
                                required autofocus autocomplete="username">
                                <label for="id_username">Username&nbsp;</label>
                            </div>

                            <div class="input-field">
                                <input type="email" id="id_email" name="email" class="form-control"
                                    required autofocus autocomplete="email">
                                <label for="id_email">Email address&nbsp;</label>
                            </div>

                            <div class="input-field info-group">
                                <input type="text" id="id_company_name" name="company_name"
                                    class="form-control" autofocus>
                                <label for="id_company_name">Company name&nbsp;</label>
                            </div>


                            <div class="input-field">
                                <input type="password" id="id_password" name="password1"
                                autocomplete="new-password" class="form-control">
                                <label for="id_password">Password&nbsp;</label>
                            </div>
                            <div class="input-field">
                                <input type="password" id="id_password2" name="password2"
                                class="form-control" autocomplete="new-password">
                                <label for="id_password2">Confirm password&nbsp;</label>
                                <span>Enter the same password as before, for verification.</span>
                            </div>


    
                        {% if form.user.errors or forms.profile.errors %}
                            <div class="errors">

                            </div>
                            <div class="errors-hidden" style="display: none" data-errors=""
                                data-profile_errors="">
                                {{ forms.user.errors }}
                                {{ forms.profile.errors }}
                            </div>
                        {% endif %}

                        <span class="deep-purple-text" style="text-transform: none;font-size: small;margin-bottom: 5px;">
                            By signing up, I agree to the <a target="_blank" href="https://taqadam.io/legal/">Privacy Policy and Terms of use.</a>
                        </span>

                        <div class="flex-row">
                            <button class="deep-purple lighten-5 deep-purple-text waves-effect waves-light btn mr-100" type="submit">
                                Back
                            </button>
                            <button class="deep-purple waves-effect waves-light btn" type="submit">
                                Sign Up
                            </button>
                        </div>
                        <a href="#"  class="deep-purple-text" style="text-transform: none;margin-left: 20px;">Already have an account, Sign In?</a>

                    </div>
                </form>
            </div>
        </div>
        
    </div>
    
</div>
<script>
    (function ($) {
        var errors_element = $('.errors-hidden');
        if (errors_element.length > 0) {
            var errors_array = [];
            errors_element.find('li').each(function () {
                let error_html = $(this).html();
                let error_key = error_html.substring(0, error_html.indexOf('<'));
                if (error_key !== '') {
                    let error_messages = [];
                    $(this).find('li').each(function () {
                        error_messages.push($(this).text())
                    })
                    $($($('.errors-hidden').find('li')[0]).find('li')[0]).text()
                    errors_array.push({
                        key: error_key,
                        messages: error_messages

                    })
                }

            })

            errors_handling(errors_array);
        }

        $('.form-register').on('submit', function (event) {
            let id_username = $('#id_username').val();
            let id_email = $('#id_email').val();
            let id_company_name = $('#id_company_name').val();
            let id_password = $('#id_password').val();
            let id_password2 = $('#id_password2').val();

            let errors = [];

            if (id_password.length < 8) {
                errors.push({
                    key: 'password_short',
                    messages: [
                        'Password should be at least 8 character'
                    ]

                })
            } else if (id_password !== id_password2) {
                errors.push({
                    key: 'password_did_not_match',
                    messages: [
                        'Password and password confirmation didn\'t match'
                    ]

                })
            } else if (
                (id_password.indexOf(id_username) > -1 && id_username.length > 5)
                || id_password.indexOf(id_email) > -1
                || id_password.indexOf(id_company_name) > -1
            ) {
                errors.push({
                    key: 'password_similar_to_personal_info',
                    messages: [
                        'Password can\'t be similar to your personal information'
                    ]
                })
            } else if (!isNaN(id_password)) {
                errors.push({
                    key: 'password_is_number',
                    messages: [
                        'Password can\'t be all numbers'
                    ]
                })
            }
            if (errors.length > 0) {
                event.preventDefault();
                errors_handling(errors)


            }

        })

        function errors_handling(errors) {
            if (errors.length > 0) {
                $('form.form-register').addClass('errors-available')
            } else {
                $('form.form-register').removeClass('errors-available')
                $('form.form-register .errors').html('')
            }

            errors.map(error => {
                let msg = '';
                switch (error.key) {
                    case 'password1':
                        msg += '<ul class="password">'
                        error.messages.map(message => {
                                if (message === 'This field is required.'
                                ) {
                                    msg += `<li>The password field is required</li>`
                                }
                            }
                        )
                        msg += "</ul>"
                        break
                    case
                    'password2'
                    :
                        msg += '<ul class="password-confirmation">'
                        error.messages.map(message => {
                            if (message === 'This field is required.'
                            ) {
                                msg += `<li>The password confirmation field is required</li>`
                            }
                        })
                        ;
                        msg += "</ul>"
                        break;
                    default:
                        msg += '<ul class="password-did-not-match">'
                        error.messages.map(message => {
                                msg += `<li>${message}</li>`
                            }
                        );
                        msg += "</ul>"
                        break;

                }


                $('.errors').html('')
                if ($('.errors').length > 0) {
                    $('.errors').append(msg)

                } else {
                    $('.form-register').append('<div class="errors">' + msg + '</div>')
                }
            })

        }

        $('.input-helper input').on('focus hover', function () {
            $(this).closest('.input-group').addClass('show')
        });

        $('.input-helper input').focusin(function () {
            let self = this;
            var focused = false;
            $('.input-group input').each(function () {
                if ($(this).is(':focus')) {
                    if (this === self) {
                        $(this).closest('.input-group').addClass('show')
                    }
                    focused = true;
                }
            })
            if (!focused) {
                $(this).closest('.input-group').addClass('show')

            }
        });

        $('.input-helper input').hover(function () {
            let self = this;
            var focused = false;
            $('.input-group input').each(function () {
                if ($(this).is(':focus')) {
                    if (this === self) {
                        $(this).closest('.input-group').addClass('show')
                    }
                    focused = true;
                }
            })
            if (!focused) {
                $(this).closest('.input-group').addClass('show')

            }
        });

        $('.input-helper input').focusout(function () {
            $(this).closest('.input-group').removeClass('show')
        });
        $('.input-helper input').mouseenter(function () {
            let self = this;
            var focused = false;
            $('.input-group input').each(function () {
                if ($(this).is(':focus')) {
                    if (this === self) {
                        $(this).closest('.input-group').addClass('show')
                    }
                    focused = true;
                }
            })
            if (!focused) {
                $(this).closest('.input-group').addClass('show')

            }
        });
        $('.input-helper input').mouseleave(function () {
            $(this).closest('.input-group').removeClass('show')
        })
    })
    (jQuery)
</script>
</body>

</html>

<!-- <div class="input-notes">
    <ul>
        <li>Your password can't be too similar to your other personal information.</li>
        <li>Your password must contain at least 8 characters.</li>
        <li>Your password can't be a commonly used password.</li>
        <li>Your password can't be entirely numeric.</li>
    </ul>
</div>
<ul class="sr-only">
    <li>Your password can't be too similar to your other personal information.</li>
    <li>Your password must contain at least 8 characters.</li>
    <li>Your password can't be a commonly used password.</li>
    <li>Your password can't be entirely numeric.</li>
</ul>
</div> -->

<!-- <div class="input-field input-helper col-2">
    <input type="password" placeholder="Password" id="id_password" name="password1"
    autocomplete="new-password" class="form-control">
    <label for="id_password" class="sr-only">Password&nbsp;</label>





<div class="input-field input-helper col-2">
    <input type="password" placeholder="Confirm password" id="id_password2" name="password2"
    class="form-control" autocomplete="new-password">
    <label for="id_password2" class="sr-only">Confirm password&nbsp;</label>
    <div class="input-icon">
        <i class="fa fa-check-circle" aria-hidden="true"></i>
    </div>
    
    <div class="input-notes">
        <ul class="one-item">
            <li>Enter the same password as before, for verification.</li>
        </ul>
    </div>
    <span class="sr-only">Enter the same password as before, for verification.</span>
</div> -->