{% load static %}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Datatable - srtdash</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.8/metisMenu.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/SlickNav/1.0.10/slicknav.min.css">

    <!-- style css -->
    <link rel="stylesheet" href="{% static 'app/assets/css/typography.css' %}">
    <link rel="stylesheet" href="{% static 'app/assets/css/default-css.css' %}">
    <link rel="stylesheet" href="{% static 'app/assets/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'app/assets/css/responsive.css' %}">


    <style>

        @font-face {
            font-family: Abandon-medium;
            font-weight: normal;
            src: url("{% static "app/assets/fonts/Abandon_Medium.otf" %}") format("opentype");
        }

        @font-face {
            font-family: Lato-black;
            font-weight: normal;
            src: url("{% static "app/assets/fonts/Lato-Black.ttf" %}") format("truetype");
        }

        @font-face {
            font-family: Lato-medium;
            font-weight: normal;
            src: url("{% static "app/assets/fonts/Lato-Medium.ttf" %}") format("truetype");
        }

        @font-face {
            font-family: Lato;
            font-weight: normal;
            src: url("{% static "app/assets/fonts/Lato-Regular.ttf" %}") format("truetype");
        }

    </style>
    <!-- modernizr css -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    {% block head %}
    {% endblock %}
</head>

<body>
<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
<!-- preloader area start -->
<div id="preloader">
    <div class="loader"></div>
</div>
<!-- preloader area end -->
<!-- page container area start -->
<div class="page-container">
    <!-- sidebar menu area start -->
    <div class="sidebar-menu">
        <div class="sidebar-header">
            <div class="logo">
                <a href="/"><img src="{% static 'logo-2.png' %}" alt="logo"></a>
            </div>
        </div>
        <div class="main-menu">
            <div class="menu-inner">
                <nav>
                    <ul class="metismenu" id="menu">

                        <li class="active">
                            <a href="{% url 'app_dashboard' %}">
                                <i class="fa fa-tachometer" aria-hidden="true"></i>
                                <span>Projects</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'worker_mywork' %}">
                                <i class="fa fa-info-circle" aria-hidden="true"></i><span>My Work</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'app_newproject' %}">
                                <i class="fa fa-plus" aria-hidden="true"></i><span>Add new project</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                {% block sidebar %}
                {% endblock %}
            </div>
        </div>
    </div>
    <!-- sidebar menu area end -->
    <!-- main content area start -->
    <div class="main-content">
        <!-- header area start -->
        <div class="header-area">
            <div class="row align-items-center">
                <!-- nav and search button -->
                <div class="col-md-6 col-sm-8 clearfix">
                    <div class="nav-btn pull-left">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="search-box pull-left">
                        <form action="#">
                            <input type="text" name="search" placeholder="Search..." required>
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </form>
                    </div>
                </div>
                <!-- profile info & task notification -->
                <div class="col-md-6 col-sm-4 clearfix">
                    <ul class="notification-area pull-right">
                        <li id="full-view"><i class="fa fa-arrows-alt" aria-hidden="true"></i></li>
                        <li id="full-view-exit"><i class="fa fa-search-minus" aria-hidden="true"></i></li>
                        <li id="signout">
                            <a href="{% url 'logout' %}"><!--<i class="ti-zoom-out"></i>--> Sign out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- header area end -->
        <!-- page title area start -->
        <div class="page-title-area">
            <div class="row align-items-center">
                <div class="col-sm-12">
                    <div class="breadcrumbs-area clearfix">
                        {% block breadcrumb %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <!-- page title area end -->
        <div class="main-content-inner">
            {% block body %}
            {% endblock %}
        </div>
    </div>
    <!-- main content area end -->
</div>
<!-- page container area end -->

<!-- jquery latest version -->
<script
        src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>

<!-- bootstrap 4 js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.8/metisMenu.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SlickNav/1.0.10/jquery.slicknav.min.js"></script>

<!-- others plugins -->
<script src="{% static 'app/assets/js/plugins.js' %}"></script>
<script src="{% static 'app/assets/js/scripts.js' %}"></script>
</body>

</html>
