{% extends 'base_worker_new.html' %}
{% load static %}
{% block head %}
    <style>
    </style>
{% endblock %}
{% block body %}
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>ID</th>
                <th>Project name</th>
                <th>Task type</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for project in project_list %}
                <tr>
                    <td>{{ project.id }}</td>
                    <td>{{ project.name }}</td>
                    <td>{{ project.task_type.name }}</td>
                    <td>
                        <div class="btn-group"><a href="{% url 'next_task' project.id %}"
                                                  class="btn btn-sm btn-primary">To app</a></div>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3" align="center"><span data-feather="alert-circle"/> <strong>No projects for you
                        yet!</strong> <span data-feather="alert-circle"/></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}