{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Logout | Taqadam</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: grid;
            align-items: center;
            background-image: -moz-linear-gradient(90deg, rgb(128, 0, 148) 0%, rgb(29, 0, 96) 100%);
            background-image: -webkit-linear-gradient(90deg, rgb(128, 0, 148) 0%, rgb(29, 0, 96) 100%);
            background-image: -ms-linear-gradient(90deg, rgb(128, 0, 148) 0%, rgb(29, 0, 96) 100%);
            color: #fff;

        }

        .register-component {
            width: 100%;
            max-width: 430px;
            padding: 0;
            border-radius: 15px;
            border: 1px solid;
            background: white;
            margin: 25px auto 5px;
        }

        .register-component .content {
            margin: 50px;
        }

        .logo {
            padding-right: 12.5px
        }

        .logo img {
            width: 100%
        }

        header {
            display: grid;
            grid-template-columns: auto auto;
            align-items: center;
            margin-bottom: 50px
        }


        header h1.h3.mb-3 {
            margin: 0 !important;
            height: 100%;
            width: 100%;
            border-left: 1px solid #800094;
            padding-left: 25px;
            display: grid;
            align-items: center;
            color: #800094;
        }
    </style>
</head>

<body class="text-center register-complete-page">
<div class="content">
    <div class="">

        <div class="register-component">
            <div class="content">

                <header>
                    <div class="logo">
                        <img src="{% static 'logo-2.png' %}" alt="taqadam"/>
                    </div>
                </header>
                <a href="{% url 'login' %}">You have been successfully signed out.</a>
            </div>
        </div>
    </div>

</div>
<script>
    setTimeout(()=>{
        window.location = '/login'
    }, 3000)
</script>
</body>

</html>