{% extends 'base_worker_new.html' %}
{% load getkey %}
{% block body %}
    <div class="container align-center mt-4 mb-4 row">
        <div class="col-md-6">
            <p>
                Balance: {{ payment.total__.balance | floatformat:2 }}<span data-feather="dollar-sign"></span>
                <a href="" class="btn btn-sm btn-outline-success">Cashout</a>
            </p>
            <div class="table-responsive">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th>Project name</th>
                        <th>Balance</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key in payment %}
                        {% if key != 'total__' %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>{{ payment | getkey:key | getkey:'balance' | floatformat:2 }}<span
                                        data-feather="dollar-sign"></span></td>
                            </tr>
                        {% endif %}
                        {% empty %}
                        <tr>
                            <td colspan="3" align="center"><span data-feather="alert-circle"/> <strong>No projects
                                for you yet!</strong> <span data-feather="alert-circle"/></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Project name</th>
                    <th>Timestamp</th>
                    <th>Task type</th>
                    <th>Paid?</th>
                </tr>
                </thead>
                <tbody>
                {% for task in task_list %}
                    <tr>
                        <td>{{ task.id }}</td>
                        <td>{{ task.project_name }}</td>
                        <td>{{ task.created_at }}</td>
                        <td>{{ task.task_type }}</td>
                        <td>{{ task.invoice }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3" align="center"><span data-feather="alert-circle"/> <strong>No projects for
                            you yet!</strong> <span data-feather="alert-circle"/></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}